<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drew House</title>
    <link rel="shortcut icon" href="../assets/fav-icon.png" type="image/x-icon">
    <script defer src="../js/form.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <nav class="navegation-bar">
        <div class="text-nav">
            <a href="../views/product.html">back</a>
        </div>
        <div class="box-logo">
            <a href="../index.html"><img src="../assets/img/resources/logo.png" alt="Drew House Logo"></a>
        </div>
        <div class="box-icon">
            <span id="cart-price">0.00</span>
            <img src="../assets/img/icons/supermercado.png" alt="Icon">
        </div> 
    </nav>
    <!-- Modal de exito por la compra -->
    <section id="congrat-modal">
        <div class="modal-2">
            <div class="box-img-modal-2">
                <img src="../assets/img/resources/modal-final.jpg" alt="Imagen del modal de exito">
            </div>
            <h2>coooongrats on your purchase <span id="name"></span>, you're awesome!</h2>
            <div class="boton-modal">
              <a href="shop.html">go shop!</a>
            </div>
        </div>
    </section>

    <section class="product">
        <div class="col-left">
            <div class="product-detail">
                <div class="box-image-product-form">
                    <img class="img-selected" src="../assets/img/clothes/00.jpg" alt="t-shirt drew house">
                </div>
                <div class="detail">
                    <h2>secret ss tee - white</h2>
                    <span id="price">$48.00</span>
                    <h3>purchasing information</h3>
                    <ul>
                        <li>1 vol</li>
                        <li>XL</li>
                        <li>white</li>
                    </ul>
                </div>
            </div>
            <div class="formulario">
                <h2>Hey, complete the form!</h2>
                <form class="formulario-compra" action="#" method="post">
                    <input type="text" name="name" id="medium" placeholder="full name" required><br>
                    <input type="text" name="country" id="medium" placeholder="country" required><br>
                    <input type="text" name="card-number" id="large" placeholder="card number" required><br>
                    <input type="text" name="expiration" id="medium" placeholder="expiration date" required><br>
                    <input type="text" name="security-code" id="medium" placeholder="security code" required><br>
                    <input type="email" name="email" id="large" placeholder="email adress" required>
                </form>
            </div>
        </div>
        <div class="col-right">
            <div class="container-card">
                <div id="card-front">
                    <div class="box-logo-card">
                        <img src="../assets/img/resources/mastercard.png" alt="Card credit logo">
                    </div>
                    <div class="box-card-number">
                        <span id="card-number">1200 2312 3103 1230</span>
                    </div>
                    <div class="datos-fijos">
                        <h2>card name</h2>
                        <h2>valid date</h2>
                    </div>
                    <div class="card-info">
                        <span id="card-name">Mauricio Estollmer</span>
                        <span id="expire-date">04/23</span>
                    </div>
                </div>
                <div id="card-back">
                    <div class="box-card-code">
                        <span id="security-code">404</span>
                    </div>
                    <div class="box-logo-card">
                        <img src="../assets/img/resources/mastercard.png" alt="Card credit logo">
                    </div>
                </div>
            </div>
            <div class="buttons">
                <a href="form.html" class="buy" id="buyNow">buy now</a>
            </div>
        </div>
    </section>
</body>
</html>