<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drew House</title>
    <link rel="shortcut icon" href="../assets/fav-icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div id="cart">
        <div id="continue">
            <h2>< Continue shopping </h2>
        </div>
        <div class="order">
            <div id="itemsOnCart">
                
            </div>
        </div>
        <div class="total">
            <h2>Subtotal</h2>
            <span id="subtotal">$0.00</span>
        </div>
    </div>
    <nav class="navegation-bar">
        <div class="text-nav">
            <a href="../index.html">home</a>
            <a href="../views/shop.html">shop</a>
        </div>
        <div class="box-logo">
            <a href="../index.html"><img src="../assets/img/resources/logo.png" alt="Drew House Logo"></a>
        </div>
        <div class="box-icon" id="box-cart">
            <span id="cart-price">0.00</span>
            <img src="../assets/img/icons/supermercado.png" alt="Icon">
        </div> 
    </nav>
    <section class="product" id="product-top">
        <!-- Completo el producto seleccionado desde JavaScript -->
    </section>
    <div class="box-newsletter">
        <form action="#" method="POST">
            <input type="email" name="email" placeholder="email" required>
            <input type="submit" value=">">
        </form>
    </div>
    <footer>
        <a class="back-top" href="#">Back to the top ^</a>
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">International</a></li>
            <li><a href="#">Customs & Duties</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms Of Use</a></li>
            <li><a href="#">Size Chart</a></li>
            <li><a href="#">Do Not Sell My Info</a></li>
        </ul>
        <h2>Copyright © 2020 Drew House.</h2>
    </footer>
    <!-- jQuery -->
    <script src="../js/jquery.min.js"></script>
    <!-- Javascript -->
    <script src="../js/db.js"></script>
    <script src="../js/product.js"></script>
</body>
</html>