<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drew House</title>
    <link rel="shortcut icon" href="../assets/fav-icon.png" type="image/x-icon">
    <!-- <script defer src="../js/main.js"></script> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <nav class="navegation-bar" style="background-color: #fdbf2d;">
        <div class="text-nav">
            <a href="../index.html">home</a>
            <a href="../views/shop.html">shop</a>
        </div>
        <div class="box-logo">
            <a href="../index.html"><img src="../assets/img/resources/logo.png" alt="Drew House Logo"></a>
        </div>
        <div class="box-icon">
            <h1>0/$0.00</h1>
            <img src="../assets/img/icons/supermercado.png" alt="Icon">
        </div> 
    </nav>
    <section class="main-shop">
        <div class="box-shop-image">
            <img src="../assets/img/resources/shop-header.jpg" alt="Imagen de campaña">
        </div>
    </section>
    <section class="collection">
        <div class="name-collection">
            <h1>august collection</h1>
            <div>
                <label for="clothes">Sort by:</label>
                <select class="clothes-select" name="clothes" id="clothes">
                    <option value="0">all clothes</option>
                    <option value="1">t-shirts</option>
                    <option value="2">jeans & shorts</option>
                    <option value="3">hoodies & jackets</option>
                    <option value="4">accessories</option>
                </select>
            </div>
        </div>
        <div class="products">
            <div class="product-00 unity">
                <a href="../views/product.html"><img src="../assets/img/clothes/00.jpg" alt="short"></a>
                <h1>secret ss tee -white</h1>
                <span>$48.00</span>
            </div>
            <div class="product-01 unity">
                <a href="../views/product.html"><img src="../assets/img/clothes/01.jpg" alt="short"></a>
                <h1>corduroy ss shirt - chocolate</h1>
                <span>$148.00</span>
            </div>
            <div class="product-02 unity">
                <a href="../views/product.html"><img src="../assets/img/clothes/02.jpg" alt="short"></a>
                <h1>corduroy shorts - chocolate</h1>
                <span>$138.00</span>
            </div>
            <div class="product-03 unity">
                <a href="../views/product.html"><img src="../assets/img/clothes/03.jpg" alt="short"></a>
                <h1>striped mascot socks - black/golden</h1>
                <span>$20.00</span>
            </div>
            <div class="product-04 unity">
                <a href="../views/product.html"><img src="../assets/img/clothes/04.jpg" alt="short"></a>
                <h1>distressed jean - vintage indigo</h1>
                <span>$278.00</span>
            </div>
            <div class="product-05 unity">
                <a href="../views/product.html"><img src="../assets/img/clothes/05.jpg" alt="short"></a>
                <h1>mascto skate deck - iceberg roses</h1>
                <span>$58.00</span>
            </div>
            <div class="product-06 unity">
                <a href="../views/product.html"><img src="../assets/img/clothes/06.jpg" alt="short"></a>
                <h1>mixed media trucker jacket - bleached</h1>
                <span>$448.00</span>
            </div>
            <div class="product-07 unity">
                <a href="../views/product.html"><img src="../assets/img/clothes/07.jpg" alt="short"></a>
                <h1>drew house space sticker sheet</h1>
                <span>$10.00</span>
            </div>
            <div class="product-08 unity">
                <a href="../views/product.html"><img src="../assets/img/clothes/08.jpg" alt="short"></a>
                <h1>dinodrew skate deck - burnt oronge</h1>
                <span>$58.00</span>
            </div>
        </div>
        <div class="box-newsletter">
            <form action="#" method="POST">
                <input type="email" name="email" placeholder="email" required>
                <input type="submit" value=">">
            </form>
        </div>
    </section>
    <footer>
        <a class="back-top" href="#">Back to the top ^</a>
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">International</a></li>
            <li><a href="#">Customs & Duties</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms Of Use</a></li>
            <li><a href="#">Size Chart</a></li>
            <li><a href="#">Do Not Sell My Info</a></li>
        </ul>
        <h1>Copyright © 2020 Drew House.</h1>
    </footer>
</body>
</html>