<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drew House</title>
    <link rel="shortcut icon" href="../assets/fav-icon.png" type="image/x-icon">
    <script defer src="../js/shop.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <nav class="navegation-bar">
        <div class="text-nav">
            <a href="../index.html">home</a>
            <a href="../views/shop.html">shop</a>
        </div>
        <div class="box-logo">
            <a href="../index.html"><img src="../assets/img/resources/logo.png" alt="Drew House Logo"></a>
        </div>
        <div class="box-icon">
            <span id="cart-price">0.00</span>
            <img src="../assets/img/icons/supermercado.png" alt="Icon">
        </div> 
    </nav>
    <section class="main-shop">
        <div class="box-shop-image">
            <img src="../assets/img/resources/shop-header.jpg" alt="Imagen de campaña">
        </div>
    </section>
    <section class="collection">
        <div class="name-collection">
            <h2>august collection</h2>
            <div id="sortBy">
                <label for="clothes">Sort by:</label>
                <select class="clothes-select" name="clothes" id="selectFild">
                    <option value="all" class="option">all clothes</option>
                    <option value="shirts" class="option">t-shirts</option>
                    <option value="jeans" class="option">jeans & shorts</option>
                    <option value="hoodies" class="option">hoodies & jackets</option>
                    <option value="accessories" class="option">accessories</option>
                </select>
            </div>
        </div>
        <div class="products" id="products">
            <!-- Traigo los productos desde JavaScript -->
        </div>
        <div class="box-newsletter">
            <form action="#" method="POST">
                <input type="email" name="email" placeholder="email" required>
                <input type="submit" value=">">
            </form>
        </div>
    </section>
    <footer>
        <a class="back-top" href="#">Back to the top ^</a>
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">International</a></li>
            <li><a href="#">Customs & Duties</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms Of Use</a></li>
            <li><a href="#">Size Chart</a></li>
            <li><a href="#">Do Not Sell My Info</a></li>
        </ul>
        <h2>Copyright © 2020 Drew House.</h2>
    </footer>
</body>
</html>